/* #f56363 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.service-page-main-1 {
  width: 95vw;
  height: 95vh;
  margin: auto auto;
}
.service-header {
  background: url("../../Assets/services-1.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
.service-text-box {
  width: 70vw;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.service-main-heading {
  margin-bottom: 50px;
  font-size: 62px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: capitalize;
}
.service-sub-heading {
  color: #f3baba;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.sub-service-page {
  width: 90vw;
  margin: 10vh auto;
}
.service-page-grid {
  width: 70vw;
  display: grid;
  gap: 10vh 10vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto auto;
}

.service-page-main-2 {
  width: 95vw;
  height: 50vh;
  margin: 8vw auto;
}

.service-page-grid-items {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 50%;
  height: 20vh;
  text-align: center;
  padding: 3vh 3vw;
}
.service-page-grid-items:hover {
  background: rgb(245, 99, 99);
  background: linear-gradient(
    45deg,
    rgba(245, 99, 99, 1) 0%,
    rgba(249, 161, 161, 1) 53%,
    rgba(252, 208, 208, 1) 100%
  );
  transform: scaleX(1.1);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

/* section-3 */

.service-page-main-3 {
  width: 95vw;
  height: auto;
  margin: auto auto;
}

.pa-images {
  float: left;
  /* background: #fff; */
  width: 100%;
  transform: translateX(-30%);
  shape-outside: polygon(40% 0%, 50% 50%, 70% 100%);
  shape-margin: 2rem;
  /* visibility: hidden;*/
  width: 50vw;
  height: 50vh;
  clip-path: polygon(30% 0, 70% 0, 100% 100%, 30% 100%);
}
.pa-images-1 {
  float: right;
  /* background: #fff; */
  width: 100%;
  /* transform: translateX(-5%); */
  shape-outside: polygon(40% 0%, 50% 50%, 70% 100%);
  shape-margin: 2rem;
  /* visibility: hidden;*/
  width: 50vw;
  height: 50vh;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 20% 100%);
}
.pa-sub-1-body {
  font-size: 1.3rem;
  line-height: 1.5;
}
.pa-1 {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  width: 80vw;
  margin: auto auto;
  padding: 4vw 4vh;
}
.pa-2 {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: 1vh 1vw;
  text-align: center;
}
.pa-sub-1-title {
  margin-bottom: 2vh;
  font-size: 3vh;
  text-transform: uppercase;
}
.pa-sub-1-body {
  margin-bottom: 2vh;
  font-size: 2vh;
}
/* /////////////////// */
@media (max-width: 1020px) {
  .service-page-grid {
    margin: auto 0;
    width: 90vw;
  }
}
@media (max-width: 760px) {
  .service-page-grid {
    margin: auto 0;
    width: 90vw;
  }
}
@media (max-width: 660px) {
  .service-page-grid {
    margin: auto 0;
    width: 90vw;
    /* height: 100vh; */
    display: grid;
    gap: 10vh 10vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .service-main-heading {
    font-size: 44px;
  }
}
@media (min-width: 320px) and (max-width: 470px) {
  .icon-service-1 {
    width: 20px;
    height: 20px;
  }
  .service-grid-icon-name {
    font-size: 12px;
  }

  .service-main-heading {
    font-size: 32px;
  }
  .service-sub-heading {
    font-size: 12px;
  }
  .service-page-main-2 {
    height: auto;
  }
  .pa-images,
  .pa-images-1 {
    clip-path: none;
    float: none;
    /* background: #fff; */
    width: 100%;
    transform: none;
    shape-outside: none;
    shape-margin: none;
    /* visibility: hidden;*/
    height: 30vh;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .service-grid-icon-name {
    font-size: 12px;
  }
  .icon-service-1 {
    width: 30px;
    height: 30px;
  }
}
