.portfolio-page {
  width: 96vw;
  margin: 80px auto;
}
.portfolio-header {
  width: 100%;
  height: 100vh;
  background: url("../../Assets/portfolio.jpg") no-repeat center center/cover;
  position: relative;
}
.portfolio-header-text-box {
  position: absolute;
  top: 34%;
  left: 13%;
  padding: 2vw;
  width: 70vw;
  text-align: center;
}
.portfolio-header-title {
  font-size: 10vh;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-header-body {
  font-size: 2vh;
  color: #fff;
  letter-spacing: 4px;
  word-spacing: 4px;
}
.portfolio-article-header {
  width: 100%;
  height: 30vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
}
.p-article-header-icon {
  width: 10vw;
  height: 13vh;
  margin: 0 auto;
}
.portfolio-icon {
  border: 2px solid #f56363;
  padding: 10px;
  border-radius: 100%;
}

.p-article-header-body-p-1 {
  font-size: 24px;
  font-weight: 600;
}
.p-article-header-body-p-2 {
  font-size: 14px;
}
.portfolio-article-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
  padding: 1vh;
  gap: 5vw;
  justify-content: center;
}
.portfolio-article-body-flex {
  display: flex;
  flex-direction: row;
  width: 25vw;
  height: 20vh;
  padding: 1vh;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.portfolio-article-body-flex:hover {
  transform: scale(1.1);
  background-color: #feefef;
}
.portfolio-flex-icon {
  width: 20%;
  height: 30%;
  text-align: center;
}
.portfolio-flex-body {
  width: 80%;
  text-align: start;
}
.portfolio-flex-body-title {
  font-size: 16px;
  font-weight: 600;
}
.portfolio-flex-body-body {
  font-size: 12px;
}
@media (min-width: 320px) and (max-width: 470px) {
  .portfolio-article-body-flex {
    flex-direction: column;
    height: auto;
    width: 80vw;
    margin: 0 auto;
  }
  .portfolio-article-body {
    flex-direction: column;
    height: auto;
  }
  .portfolio-article-header {
    height: auto;
  }
  .portfolio-icon {
    width: 55px;
    height: 55px;
  }
  .p-article-header-body-p-1 {
    font-size: 18px;
  }
  .portfolio-article-body {
    height: auto;
  }
  .portfolio-flex-body {
    margin: 0 auto;
    text-align: center;
  }

  .portfolio-flex-icon {
    margin: 0 auto;
  }
  .portfolio-header-title {
    font-size: 10vw;
  }
  .portfolio-flex-body-title {
    margin: 0 auto;
  }
}
@media (min-width: 760px) and (max-width: 1024px) {
  .portfolio-icon {
    width: 60px;
    height: 60px;
  }
  .portfolio-article-header {
    height: auto;
  }
  .p-article-header-body {
    margin-top: 20px;
  }
  .portfolio-article-body-flex {
    height: auto;
    width: auto;
    padding: 0;
  }
}
